doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/vendor.css')
    script(type='text/javascript', src='https://use.typekit.net/yrm2nan.js')
    script(type='text/javascript').
      Typekit.load({ async: true });
  body
    block content
    script(type='text/javascript', src='/javascripts/built/app.js')
